body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vh;
    justify-content: center;
    background-color: #F5F6FA;
}

#square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#red {
    background-color: #e74c3c;
}

#green {
    background-color: #2ecc71;
}

#blue {
    background-color: #3498db;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}