#square {
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#red {
    background-color: #e74c3c;
}

#green {
    background-color: #2ecc71;
}

#blue {
    background-color: #3498db;
}

.line {
    display: flex;
    flex-direction: row;
}